@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap')
$shadow: 0px 0px 10px 3px #ffffff
@import "./utils.sass"

.avatarCard
    display: flex
    margin-top: 15vh
    z-index: 1
    @include small-down
        flex-direction: column
.profileContainer
    display: flex
    height: 140px
    padding-top: 15px
    padding-left: 20px
    box-shadow: $shadow
    opacity: 0.7
    background-color: #af3c66
    border-radius: 30px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    @include medium-only
        width: 400px
    @include small-down
        padding: 15px
        flex-direction: column
        height: fit-content
        border-radius: 15px 15px 0 0
    @include large
        width: 600px

.circleBase 
    border-radius: 50%

.circle
    width: 80px
    height: 80px
    background: #480348
    margin-top: 20px
    border: 1px solid #000
    color: white
    font-family: 'Love Ya Like A Sister', cursive
    font-size: 30px
    align-items: center
    justify-content: center
    display: flex
    @include small-down
        align-self: center

.userInfoContainer
    display: flex
    flex-direction: column
    padding-left: 30px
    color: white
    @include small-down
        padding: 20px

.userProfileName
    max-height: 60px
    color: white
    font-family: 'Love Ya Like A Sister', cursive
    font-size: 50px
    @include small-down
        text-align: center
        font-size: 25px

    
.infoText
    font-family: 'Love Ya Like A Sister', cursive
    font-size: 20px
    @include small-down
        margin-top: 10px
        font-size: 10px

.buttonContainer
    display: flex
    flex-direction: column
    color: white
    justify-content: space-between
    border-top-right-radius: 30px
    border-bottom-right-radius: 30px
    padding-left: 5px
    @include small-down
        flex-direction: row
        height: fit-content
        padding: 0


    
    