@import "./utils.sass"

@keyframes dragUp
  0%
    opacity: 100
    transform: translateY(0px)
  100%
    opacity: 0
    transform: translateY(-20px)

.frontPageHeader
    position: absolute
    display: flex
    justify-content: space-evenly
    align-items: center
    height: 60vh
    width: 100%
    @include medium-only
        flex-direction: column-reverse
        justify-content: space-around
        height: 100vh
    @include small-down
        flex-direction: column-reverse
        justify-content: space-around
        height: 100vh
.imgLogo
    transition-timing-function: ease-in-out
    transition: margin 0.2s
    max-width: 65%
    @include medium-only
        width: 50%
           
.smallIn
    font-size:40px
    @include medium-only
        font-size:20px
    @include small-down
        font-size: 35px

.hidden
    opacity: 0
    animation: 0.5s dragUp
    
.titleAndDescContainer
    font-family: 'Love Ya Like A Sister', cursive
    font-size: 50px
    color: white
    max-width: 500px
    @include medium-only
        font-size: 30px
        text-align: center
    @include small-down
        font-size: 30px
        text-align: center
    
    