@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap')
@import "./utils.sass"

$default-form-heitgh: 77px
$default-border-r: 15px

.inputForm
    width: 100%
    display: flex
    justify-content: center
form
    width: 50%
    margin-top: 45vh    
    transition: margin 1s
    @include small-down
      width: 75%

.inputElem 
  border-radius: $default-border-r
  border: 0
  color: rgba(0, 56, 68, 0.5)
  text-indent: 1%
  width: 100%
  @include small-up
    font-size: 20px
    height: $default-form-heitgh - 22px
    
  @include large
    height: $default-form-heitgh - 2
    font-size: xx-large

input:focus 
  outline: none

.logged
    margin-top: 10vh

.inputContainer
  display: flex
  background: white
  border-radius: $default-border-r
  transition: box-shadow 0.3s, margin 1s  
  


.inputContainer:focus-within
   box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1)

button
    height: 50px
    width: min-content
    border-top-right-radius: $default-border-r
    border-bottom-right-radius: $default-border-r
    border: 0
    background: #480348
    opacity: 0.7
    color: white
    font-family: 'Love Ya Like A Sister', cursive 
    white-space: nowrap
    @include small-up
      font-size: 20px
      padding: 0 15px
      height: $default-form-heitgh - 20px
    @include large
      font-size:30px
      padding: 0 20px
      height: $default-form-heitgh
    
  
button:hover
    background: purple



